[submodule "ros_teleop"]
	path = helios_hardware/ros_teleop
	url = http://github.com/simchanu29/ros_teleop
[submodule "ros_maestro"]
	path = helios_hardware/ros_maestro
	url = https://github.com/simchanu29/ros_maestro.git
[submodule "ros_usv_simulator"]
	path = helios_hardware/ros_usv_simulator
	url = https://github.com/simchanu29/ros_usv_simulator.git
[submodule "helios_control/helios_command2/helios_autonomous"]
	path = helios_control/helios_command2/helios_autonomous
	url = https://github.com/schvarcz/HeliosAutonomous
[submodule "helios_control/helios_command2/opencpn2ros"]
	path = helios_control/helios_command2/opencpn2ros
	url = https://github.com/schvarcz/OpenCPN2ROS
