<launch>

    <node name="pwm_driver" pkg="helios_command" type="maestro_driver.py" output="screen">
        <param name="port" value="/dev/ttyACM0"/>
        <rosparam file="$(find helios_command)/config/pwmconfig.yaml" command="load"/>
	</node>
    
	<node name="cmd_interpreter" pkg="helios_command" type="cmd_interpreter.py"></node>	

	<include file="$(find ros_teleop)/launch/teleop.launch"/>

</launch>
