<launch>
  <!-- Read arguments -->
  <arg name="serial" default=""/>
  <arg name="frame" default="leddar"/>
  <arg name="fov" default="45.0"/>
  <arg name="range" default="50.0"/>

  <node name="leddartech" pkg="leddartech" type="leddartech"
    output="screen" respawn="false">
      <!-- Set ROS parameters -->
      <param name="frame" value="$(arg frame)"/>
      <param name="serial" value="$(arg serial)"/>
      <param name="fov" value="$(arg fov)"/>
      <param name="range" value="$(arg range)"/>
  </node>

<!--  <node pkg="tf" type="static_transform_publisher" name="base_to_laser_broadcaster" args="0 0 0 0 0 0 base_link leddar_base_link 100" />
-->


  <!-- tf from pixhawk to leddar -->
  <node pkg="tf" type="static_transform_publisher" name="laser_to_pixhawk_local_broadcaster" args="0 0 0 0 0 0 fcu leddar_base_link 100" />



</launch>
